body{
    font-family: Arial, Helvetica, sans-serif;
}

.hotels-header h2{
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.hotels-body{
    margin: auto;
    max-width: 90%;
}

.hotel-item{
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 3px;
    margin-top: 8px;
}

.hotel-name-container{
    max-width: 250px;
}

.hotel-name{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hotel-description-container{
    padding-top: 10px;
    max-width: 250px;
}

.hotel-description{
    font-size: 20px;
    font-weight: 300;
}

.hotel-phone-container{
    max-width: 250px;
}

.hotel-phone{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

.stars{
    max-width: 100px;
    text-align: center;
    font-size: 32px;
}

.star:hover{
    color: rgb(255, 177, 59);
}


